.main-header{
    background: #292929;
    color: #ffffff;
    height: 300px;
}

body {
    background: #292929;
}

nav ul li a:hover {
color: darkorange !important;
background-color: #292929 !important;
transition: color 0.5s ease !important;
}

.section-main {
    background: url(../img/philipp-kammerer-6Mxb_mZ_Q8E-unsplash.jpg);
    height: 75%;
    background-position: center;
    min-height: 200px;
    background-size: cover;
}


.section-contact {
    position: relative;
}

.section-contact .card-panel {
position: relative;
z-index: 1;
}

#googlemap {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    }

    #contactform {
        opacity: 0;
    }
